/**
    accueil.html
 */

.article-litle-image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-max-width {
    max-width: 900px;
    margin: auto;
}

.header-image {
    position: relative;
    background-image: url(../../images/header-bg.jpg);
}

.header-image .logo-row {
    justify-content: center;
    padding: 0;
}

.logo-row {
    min-height: 200px;
}

.is-compact .logo-row {
    min-height: auto;
}

.logo-image {
    background: url(../../images/logo.png) 50% no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: auto auto 10px;
}

.is-compact .logo-image {
    height: 50px;
    width: 50px;
    margin-top: 7px;
}

.mdl-layout__title {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    color: rgb(66, 66, 66);
}

.is-compact .mdl-layout__title span {
    display: none;
}

.blog-navigation-row {
    background-color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
    height: 45px;
    padding: 0;
    justify-content: center;
}

.is-active {
    font-weight: bold;
}

.blog-navigation-row .is-active {
    position: relative;

}

.blog-navigation-row .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.blog-navigation-row .mdl-navigation__link {
    flex: 1;
    line-height: 42px;
}

.blog-navigation-row .is-active:after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 64, 129);
    left: 15%;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: rgb(66, 66, 66);
}

.header-image .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header .mdl-layout__drawer-button {
        margin: 4px;
    }
}

.mdl-layout__header .mdl-layout__drawer-button {
    position: absolute;
    color: rgb(66, 66, 66);
}

/**
read_article.html
 */

.article-image {
    width: 100%;
    height: auto;
}

.article-content{
    max-width: 700px;
}



